# <img style="float: left; padding-right: 10px; width: 45px" src="fig/iacs.png"> S-109A Introduction to Data Science 
## Homework 3 - Forecasting Bike Sharing Usage



**Harvard University**<br/>
**Summer 2018**<br/>
**Instructors**: Pavlos Protopapas, Kevin Rader

<hr style="height:2pt">

### INSTRUCTIONS

- To submit your assignment follow the instructions given in canvas.
- Restart the kernel and run the whole notebook again before you submit. 
- If you submit individually and you have worked with someone, please include the name of your [one] partner below. 

Erik Johnsson and Nathan Goldberg

<hr style="height:2pt">

In [3]:
from IPython.core.display import HTML
def css_styling(): styles = open("cs109.css", "r").read(); return HTML(styles)
css_styling()

![bike_sharing](fig/BSS.png)

<div class="theme">  Main Theme: Multiple Linear Regression, Subset Selection, Polynomial Regression </div>
### Overview 

You are hired by the administrators of the [Capital Bikeshare program](https://www.capitalbikeshare.com) program in Washington D.C., to **help them predict the hourly demand for rental bikes** and **give them suggestions on how to increase their revenue**. You will prepare a small report for them.

The hourly demand information would be useful in planning the number of bikes that need to be available in the system on any given hour of the day, and also in monitoring traffic in the city. It costs the program money if bike stations are full and bikes cannot be returned, or empty and there are no bikes available. You will use multiple linear regression and polynomial regression and will explore techniques for subset selection. The goal is to build a regression model that can predict the total number of bike rentals in a given hour of the day, based on attributes about the hour and the day. 

An example of a suggestion to increase revenue might be to offer discounts during certain times of the day either during holidays or non-holidays. Your suggestions will depend on your observations of the seasonality of ridership.

The data for this problem were collected from the Capital Bikeshare program over the course of two years (2011 and 2012).

### Use only the libraries below:

In [4]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

import statsmodels.api as sm
from statsmodels.api import OLS

from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

from pandas.plotting import scatter_matrix

import seaborn as sns


%matplotlib inline

Z:\ProgramData\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

## Data Exploration & Preprocessing, Multiple Linear Regression, Subset Selection

### Overview
The initial data set is provided in the file `data/BSS_hour_raw.csv`. You will add some features that will help us with the analysis and then separate it into training and test sets. Each row in this file contains 12 attributes and each entry represents one hour of a 24-hour day with its weather, etc, and the number of rental rides for that day divided in categories according to if they were made by registered or casual riders. Those attributes are the following:

- `dteday` (date in the format YYYY-MM-DD, e.g. 2011-01-01)
- `season` (1 = winter, 2 = spring, 3 = summer, 4 = fall)
- `hour` (0 for 12 midnight, 1 for 1:00am, 23 for 11:00pm)
- `weekday` (0 through 6, with 0 denoting Sunday)
- `holiday` (1 = the day is a holiday, 0 = otherwise)
- `weather`
    - 1: Clear, Few clouds, Partly cloudy, Partly cloudy
    - 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
    - 3: Light Snow, Light Rain + Thunderstorm
    - 4: Heavy Rain + Thunderstorm + Mist, Snow + Fog 
- `temp` (temperature in Celsius)
- `atemp` (apparent temperature, or relative outdoor temperature, in Celsius)
- `hum` (relative humidity)
- `windspeed` (wind speed)
- `casual` (number of rides that day made by casual riders, not registered in the system)
- `registered` (number of rides that day made by registered riders)

### General Hints
- Use pandas .describe() to see statistics for the dataset.
- When performing manipulations on column data it is useful and often more efficient to write a function and apply this function to the column as a whole without the need for iterating through the elements.
- A scatterplot matrix or correlation matrix are both good ways to see dependencies between multiple variables.
- For Question 2, a very useful pandas method is .groupby(). Make sure you aggregate the rest of the columns in a meaningful way. Print the dataframe to make sure all variables/columns are there!

### Resources 
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html

<div class="exercise"> <b> Question 1: Explore how Bike Ridership varies with Hour of the Day </b> </div>

#### Learn your Domain and Perform a bit of Feature Engineering

**1.1** Load the dataset from the csv file `data/BSS_hour_raw.csv` into a pandas dataframe that you name `bikes_df`. Do any of the variables' ranges or averages seem suspect? Do the data types make sense?

**1.2** Notice that the variable in column `dteday` is a pandas `object`, which is **not**  useful when you want to extract the elements of the date such as the year, month, and day. Convert `dteday` into a `datetime` object to prepare it for later analysis.

**1.3** Create three new columns in the dataframe:
- `year` with 0 for 2011 and 1 for 2012.
- `month` with 1 through 12, with 1 denoting Jan. 
- `counts` with the total number of bike rentals for that day (this is the response variable for later).

**1.4** Use visualization to inspect and comment on how **casual** rentals and **registered** rentals vary with the `hour`. 

**1.5** Use the variable `holiday` to show how **holidays** affect the relationship in question 1.4.  What do you observe? 

**1.6** Use visualization to show how **weather** affects **casual** and **registered** rentals. What do you observe?

### Answers

#### 1.1 Load the dataset from the csv file  ...

In [5]:
bikes_df = pd.read_csv("data/BSS_hour_raw.csv")

1) The 'temp' and 'atemp' variables' ranges of [0,1] seem suspect. Their values obviously do not  represent degrees in Celsius.

In [6]:
print(bikes_df.temp.describe())
print()
print(bikes_df.atemp.describe())

count    17379.000000
mean         0.496987
std          0.192556
min          0.020000
25%          0.340000
50%          0.500000
75%          0.660000
max          1.000000
Name: temp, dtype: float64

count    17379.000000
mean         0.475775
std          0.171850
min          0.000000
25%          0.333300
50%          0.484800
75%          0.621200
max          1.000000
Name: atemp, dtype: float64

2) The values for 'dteday' are stored as strings, rather than datetimes

In [7]:
print(type(bikes_df.dteday[0]))

<class 'str'>

3) It is unclear what the units of windspeed are.

In [8]:
print(bikes_df.windspeed.describe())

count    17379.000000
mean         0.190098
std          0.122340
min          0.000000
25%          0.104500
50%          0.194000
75%          0.253700
max          0.850700
Name: windspeed, dtype: float64

#### 1.2 Notice that the variable in column ....

In [9]:
# convert dates to datetime objects
bikes_df.dteday = pd.to_datetime(bikes_df.dteday)
print(type(bikes_df.dteday[0]))
bikes_df

<class 'pandas._libs.tslib.Timestamp'>

,dteday,season,hour,holiday,weekday,workingday,weather,temp,atemp,hum,windspeed,casual,registered
0,2011-01-01,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13
1,2011-01-01,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32
2,2011-01-01,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27
3,2011-01-01,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10
4,2011-01-01,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1
5,2011-01-01,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,0,1
6,2011-01-01,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2,0
7,2011-01-01,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,1,2
8,2011-01-01,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,1,7
9,2011-01-01,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,8,6
10,2011-01-01,1,10,0,6,0,1,0.38,0.3939,0.76,0.2537,12,24
11,2011-01-01,1,11,0,6,0,1,0.36,0.3333,0.81,0.2836,26,30
12,2011-01-01,1,12,0,6,0,1,0.42,0.4242,0.77,0.2836,29,55
13,2011-01-01,1,13,0,6,0,2,0.46,0.4545,0.72,0.2985,47,47
14,2011-01-01,1,14,0,6,0,2,0.46,0.4545,0.72,0.2836,35,71
15,2011-01-01,1,15,0,6,0,2,0.44,0.4394,0.77,0.2985,40,70
16,2011-01-01,1,16,0,6,0,2,0.42,0.4242,0.82,0.2985,41,52
17,2011-01-01,1,17,0,6,0,2,0.44,0.4394,0.82,0.2836,15,52
18,2011-01-01,1,18,0,6,0,3,0.42,0.4242,0.88,0.2537,9,26
19,2011-01-01,1,19,0,6,0,3,0.42,0.4242,0.88,0.2537,6,31
20,2011-01-01,1,20,0,6,0,2,0.40,0.4091,0.87,0.2537,11,25
21,2011-01-01,1,21,0,6,0,2,0.40,0.4091,0.87,0.1940,3,31
22,2011-01-01,1,22,0,6,0,2,0.40,0.4091,0.94,0.2239,11,17
23,2011-01-01,1,23,0,6,0,2,0.46,0.4545,0.88,0.2985,15,24
24,2011-01-02,1,0,0,0,0,2,0.46,0.4545,0.88,0.2985,4,13
25,2011-01-02,1,1,0,0,0,2,0.44,0.4394,0.94,0.2537,1,16
26,2011-01-02,1,2,0,0,0,2,0.42,0.4242,1.00,0.2836,1,8
27,2011-01-02,1,3,0,0,0,2,0.46,0.4545,0.94,0.1940,2,4
28,2011-01-02,1,4,0,0,0,2,0.46,0.4545,0.94,0.1940,2,1
29,2011-01-02,1,6,0,0,0,3,0.42,0.4242,0.77,0.2985,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17349,2012-12-30,1,18,0,0,0,2,0.24,0.2121,0.44,0.2985,12,113
17350,2012-12-30,1,19,0,0,0,1,0.34,0.3636,0.61,0.0000,16,86
17351,2012-12-30,1,20,0,0,0,1,0.22,0.1970,0.47,0.3284,9,63
17352,2012-12-30,1,21,0,0,0,1,0.20,0.2121,0.51,0.1642,5,42
17353,2012-12-30,1,22,0,0,0,1,0.20,0.1970,0.55,0.1940,6,30
17354,2012-12-30,1,23,0,0,0,1,0.20,0.1970,0.51,0.2239,10,39
17355,2012-12-31,1,0,0,1,1,1,0.18,0.1818,0.55,0.1940,4,30
17356,2012-12-31,1,1,0,1,1,1,0.18,0.1818,0.55,0.1940,6,13
17357,2012-12-31,1,2,0,1,1,1,0.16,0.1667,0.59,0.1642,3,8
17358,2012-12-31,1,3,0,1,1,1,0.16,0.1818,0.59,0.1045,0,1
17359,2012-12-31,1,4,0,1,1,1,0.14,0.1667,0.69,0.1045,0,3
17360,2012-12-31,1,5,0,1,1,1,0.16,0.1515,0.64,0.1940,0,9
17361,2012-12-31,1,6,0,1,1,1,0.16,0.1667,0.64,0.1642,0,40
17362,2012-12-31,1,7,0,1,1,1,0.16,0.1818,0.64,0.1343,2,83
17363,2012-12-31,1,8,0,1,1,1,0.14,0.1515,0.69,0.1343,9,187
17364,2012-12-31,1,9,0,1,1,2,0.18,0.2121,0.64,0.1045,13,144
17365,2012-12-31,1,10,0,1,1,2,0.20,0.2121,0.69,0.1343,33,87
17366,2012-12-31,1,11,0,1,1,2,0.22,0.2273,0.60,0.1940,43,114
17367,2012-12-31,1,12,0,1,1,2,0.24,0.2273,0.56,0.1940,52,172
17368,2012-12-31,1,13,0,1,1,2,0.26,0.2576,0.44,0.1642,38,165
17369,2012-12-31,1,14,0,1,1,2,0.28,0.2727,0.45,0.2239,62,185
17370,2012-12-31,1,15,0,1,1,2,0.28,0.2879,0.45,0.1343,69,246
17371,2012-12-31,1,16,0,1,1,2,0.26,0.2576,0.48,0.1940,30,184
17372,2012-12-31,1,17,0,1,1,2,0.26,0.2879,0.48,0.0896,14,150
17373,2012-12-31,1,18,0,1,1,2,0.26,0.2727,0.48,0.1343,10,112
17374,2012-12-31,1,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108
17375,2012-12-31,1,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81
17376,2012-12-31,1,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83
17377,2012-12-31,1,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48
17378,2012-12-31,1,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37

#### 1.3 Create three new columns ...

In [ ]:
# Create new column 'year' = 0 for 2011 and 1 for 2012.
bikes_df['year'] = bikes_df.dteday.map(lambda d: 0 if d.year==2011 else 1)

# Create new column 'month' = 1 for January, 2 for February, ...
bikes_df['month'] = bikes_df.dteday.map(lambda d: d.month)

# Create new column 'day' = day of the month
bikes_df['day'] = bikes_df.dteday.map(lambda d: d.day)

# Create new column 'counts' = total number of bikes rented that day
count_list = [0] * len(bikes_df)
for i in range(0, len(bikes_df)):
    d = bikes_df.day[i]
    m = bikes_df.month[i]
    y = bikes_df.year[i]
    count_list[i] = np.sum(bikes_df.query('year=={} & month=={} & day=={}'.format(y, m, d))['casual']) + np.sum(bikes_df.query('year=={} & month=={} & day=={}'.format(y, m, d))['registered'])
bikes_df['counts'] = count_list

#### 1.4 Use visualization to inspect and comment on how casual rentals and registered rentals vary with the hour.

In [2]:
# your code here
#X = np.arange(24)

#ax = plt.subplot(111)
#ax.bar(bikes_df['hour'], bikes_df['registered'])
#plt.show()
plt.plot(bikes_df['hour'], bikes_df['registered'])

NameError: name 'plt' is not defined

<HR>
Your answer here<HR>

#### 1.5 Use the variable holiday to show how holidays affect the relationship in question 1.4. What do you observe?

In [ ]:
# your code here

<HR>
Your answer here<BR>
<HR>

#### 1.6  Use visualization to show how weather affects casual and registered rentals. What do you observe?

In [ ]:
# your code here

<HR>
Your answer here
<HR>

<div class='exercise'> <b> Question 2: Explore Seasonality on Bike Ridership. </b></div>
#### Seasonality and weather

Now let's examine the effect of weather and time of the year. For example, you want to see how ridership varies with season of the year. 

**2.1** Make a new dataframe with the following subset of attributes from the previous dataset and with each entry being **ONE** day:

- `dteday`, the timestamp for that day (fine to set to noon or any other time)
- `weekday`, the day of the week
- `weather`, the most severe weather that day
- `season`, the season that day falls in
- `temp`, the average temperature
- `atemp`, the average atemp that day
- `windspeed`, the average windspeed that day
- `hum`, the average humidity that day
- `casual`, the **total** number of rentals by casual users
- `registered`, the **total** number of rentals by registered users
- `counts`, the **total** number of rentals

Name this dataframe `bikes_by_day` and use it for all of Question 2.

**2.2** How does **season** affect the number of bike rentals for **casual riders** or **registered riders** per day? Use the variable `season` for this question. Comment on your observations. 

**2.3** What percentage of rentals are made by casual riders or registered riders for each day of the week? Comment on any patterns you see and give a possible explanation.

**2.4** How is the **distribution of total number of bike rentals** different for sunny days vs cloudy days?

**2.5** Visualize how the **total number of rides** per day varies with the **season**. Do you see any **outliers**? (We define an outlier as a value 1.5 times the IQR above the 75th percentile or 1.5 times the IQR below the 25th percentiles. This is the same rule used by pyplot's boxplot function). If you see any outliers, identify those dates and investigate if they are a chance occurence, an error in the data collection, or an important event.

#### HINT
- Use .copy() when creating the new dataframe, so you leave the original untouched. We will come back to it later.
- Use .groupby() to creat the new dataframe. You will have to make some choice on how to aggregate the variables.

### Answers

#### 2.1 Make a new dataframe with the following subset ...

In [ ]:
# your code here

#### 2.2 How does season affect the number of bike ...

In [ ]:
# your code here

<HR>
Your answer here
<HR>

#### 2.3 What percentage of rentals are made by casual riders or registered riders ...

In [ ]:
# your code here

<HR>
Your answer here
<HR>

#### 2.4 How is the distribution of total number of bike rentals different ...

In [ ]:
# your code here

<HR>
Your answer here
<HR>

#### 2.5 Visualize how the total number of rides per day ...

In [ ]:
# your code here

<HR>
Your answer here
<HR>

<div class='exercise'> <b> Question 3: Prepare the data for Regression </b> </div>

**3.1** Visualize and describe inter-dependencies among the following variables: `weekday`, `season`, `month`,`weather`, `temp`, `atemp`, `hum`, `windspeed`, `casual`,`registered`, `counts`. Note and comment on any strongly related variables.

**3.2** Convert the categorical attributes into multiple binary attributes using **one-hot encoding**. 


**3.3** Split the initial `bikes_df` dataset (with hourly data about rentals) into train and test sets. Do this in a 'stratified' fashion, ensuring that all months are equally represented in each set. Explain your choice for a splitting algorithm. We ask you to create your train and test sets, but for consistency and easy checking we ask that, for the rest of this problem set, you use the train and test set provided in the question below.

**3.4** Read `data/BSS_train.csv` and `data/BSS_test.csv` into dataframes `BSS_train` and `BSS_test`, respectively. After checking your train and test datasets for accuracy, remove the `dteday` column from both train and test dataset. We do not need it, and its format cannot be used for analysis. Also, remove any predictors that would make predicting the `count` trivial.

**3.5** Calculate the **Pearson correlation** coefficients between all the features. Visualize the matrix using a heatmap. Which predictors have a positive correlation with the number of bike rentals? For categorical attributes, you should use each binary predictor resulting from one-hot encoding to compute their correlations.  Identify pairs of predictors with collinearity >0.7.

#### Hints: 
- You may use the `np.corrcoef` function to compute the correlation matrix for a data set (do not forget to transpose the data matrix). You may use `plt.pcolor` function to visualize the correlation matrix.

#### Answers

#### 3.1 Visualize and describe inter-dependencies  ...

In [ ]:
# your code here

<HR>
Your answer here
    <HR>

#### 3.2 Convert the categorical attributes  ....

In [ ]:
# your code here

<HR>
Your answer here
<HR>

#### 3.3 Split the initial bikes_df dataset...

In [ ]:
# your code here

#### 3.4  Read `data/BSS_train.csv` and `data/BSS_test.csv` into ...

In [ ]:
# your code here

<HR>
Your answer here
<HR>

#### 3.5 Calculate the **Pearson correlation** ....

In [ ]:
# your code here

<HR>
Your answer here
<HR>

<div class='exercise'> <b> Question 4: Multiple Linear Regression </b> </div>

**4.1** Use statsmodels to fit a multiple linear regression model to the training set using all the predictors (no interactions or polynomial terms), and report its $R^2$ score on the train and test sets.


**4.2** Find out which of estimated coefficients are statistically significant at a significance level of 5% (p-value < 0.05). Comment on the results.


**4.3** Make a plot of residuals of the fitted model ${e} = y - \hat{y}$ as a function of the predicted value $\hat{y}$. Note that this is slightly different from the residual plot for simple linear regression. Draw a horizontal line denoting the zero residual value on the Y-axis. Does the plot reveal a non-linear relationship between the predictors and response? What does the plot convey about the variance of the error terms?

### Answers
#### 4.1 Use statsmodels to fit a ...

In [ ]:
# your code here

<HR>
Your answer here
<HR>

#### 4.2 Find out which of estimated coefficients ...

In [ ]:
# your code here

<HR>
Your answer here<BR>
<HR>

#### 4.3 Make a plot of residuals of the fitted ...

In [2]:
# your code here

<div class='exercise'> <b>Question 5: Subset Selection </b> </div>

**5.1** Implement forward step-wise  selection to select a minimal subset of predictors that are related to the response variable: 

We require that you implement the method **from scratch**. You may use the Bayesian Information Criterion (BIC) to choose the subset size in each method. 

**5.2** Do these methods eliminate one or more of the colinear predictors (if any) identified in Question 3.5?  If so, which ones. Briefly explain (3 or fewer sentences) why you think this may be the case.

**5.3** Fit the linear regression model using the identified subset of predictors to the training set. How do the test $R^2$ scores for the fitted models compare with the model fitted in Question 4 using all predictors?

### Answers

#### 5.1  Implement forward step-wise ....

In [ ]:
# your code here

<HR>
Your answer here
<HR>

#### 5.2 Do these methods eliminate ...

<HR>
Your answer here
<HR>

#### 5.3 In each case, fit linear regression  ...

In [ ]:
# your code here

<HR>
Your answer here
<HR>

<div class='exercise'> <b> Question 6: Polynomial Regression </b> </div> 

We will now try to improve the performance of the regression model by including higher-order polynomial terms. 

**6.1** For each continuous predictor $X_j$, include additional polynomial terms $X^2_j$, $X^3_j$, and $X^4_j$, and fit a polynomial regression model to the expanded training set. How does the $R^2$ of this model on the test set compare with that of the linear model fitted in the previous question? Using a $t$-tests, find out which of the estimated coefficients for the polynomial terms are statistically significant at a significance level of 5%.

In [3]:
# your code here

<HR>
Your answer here
<HR>

#  Written Report to the Administrators
<br>

<div class='exercise'> <b> Question 7 </b> </div>

Write a short summary report, intended for the administrators of the company, to address two major points (can be written as two large paragraphs):

1. How to predict ridership well (which variables are important, when is ridership highest/lowest, etc.).

2. Suggestions on how to increase the system revenue (what additional services to provide, when to give discounts, etc.).
 
Include your report below. The report should not be longer than 300 words and should include a maximum of 3 figures.

### Answers
#### 7
<HR>
Your report here
<HR>